flows.json
[
    {
        "id": "a08ee71415359ade",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc9c735a07764c57",
        "type": "http in",
        "z": "a08ee71415359ade",
        "name": "start",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "c321543f0e820225"
            ]
        ]
    },
    {
        "id": "433df1e75012b508",
        "type": "http response",
        "z": "a08ee71415359ade",
        "name": "end",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "c321543f0e820225",
        "type": "function",
        "z": "a08ee71415359ade",
        "name": "function 1",
        "func": "msg.payload = \"Hello World, second time!\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "433df1e75012b508"
            ]
        ]
    }
]